.header {
  @include section(16px);
  @include row;

  &-logo {
    @include row;
  }

  &-nav {
    @include row(76px);

    &__options {
      @include row(16px);

      &-item {
        @include row(16px, center, center);
        @include text(18px, 150%, 400);
        color: var(--black);
        letter-spacing: 0%;

        > select {
          @include text(18px, 150%, 400);
          color: var(--black);
          padding-right: 12px;
          border: none;

          > option {
            padding-right: 12px;
          }
        }
      }
    }
  }

  &-vertical-line {
    display: inline-block;
    height: 18px;
    border: 0.5px solid var(--black);
  }

  &-searchbox {
    @include row;
    position: relative;
    border: 2px solid var(--primary-col);

    > label {
      visibility: none;
    }

    &-input {
      min-width: 376px;
      padding: 16px 11px;
    }

    &-btn {
      @include primary-button;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 14.5px;
      border: 0px;

      > img {
        width: 19px;
        height: 19px;
      }
    }
  }
}
