*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

ul,
ol {
  list-style-type: none;
}

a {
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
}

button {
  background-color: unset;
  cursor: pointer;
  border: none;
}

input {
  border: none;
  background-color: unset;
}

address {
  font-style: normal;
}
